html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
body {
  margin: 0px;
  padding: 0px;
  line-height: 1;
}
p:first-child {
  color: #000066;
}
/**********************Index***********************************/

#masterDiv {
  margin: 0;
  height: 100vh;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1638381088/boat-g44097d9de_1920_i01x2r.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3em;
  background-color: whitesmoke;
}
#navList {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 25px;
  gap: 40px;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
h1 {
  color: black;
  font-size: 75px;
  height: 200px;
}
/*footer {
  height: 100px;
  /* width: 100vw; 

  margin-top: 2px;
  text-align: center;
  justify-self: flex-end;
}*/

a {
  -webkit-text-stroke-width: 1px;
}
h2 {
  font-size: 30px;
  color: black;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 25px;
  justify-self: end;
}
.iconList {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  font-size: 20px;
}
/*************Estilos Formulario***********************************/

#formulario {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1638380803/nature-g01dd65ff2_1920_adbncr.jpg");
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
}
textarea {
  width: 400px;
  height: 100px;
}
.labelF {
  padding-top: 30px;
  font-size: 20px;
  align-self: flex-start;
  font-family: "Lobster", cursive;
}
.box {
  width: 400px;
  height: 30px;
}
.submit {
  background: #b3d9ff;
  color: white;
  width: 400px;
  height: 30px;
  text-align: center;
  text-align: center;
  margin-top: 10px;
}
.black {
  color: black;
  font-family: "Lobster", cursive;
  height: auto;
  text-decoration: underline red 2px;
  font-size: 50px;
  padding-top: 10px;
}

button {
  font-family: "Lobster", cursive;
}
/************About*****************/
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-size: cover;
  /* background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1638395568/laptop-g700e933ae_1920_wretq3.jpg");*/
  height: 100vh;
}
.aboutPhoto {
  height: 150px;
  height: 150px;
  border-radius: 50%;
}
#studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 200px;
  text-align: center;
}
.padding20 {
  padding-top: 20px;
}
p {
  font-size: 20px;
  font-family: "Lobster", cursive;
}

/*******************Portfolio*********************/
.techContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}
#about {
  height: 100vh;
  background-color: #171616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#external {
  margin-top: 30px;
}
.javaScript {
  background-size: cover;
}
.icon-xl {
  font-size: 8.2rem;
  margin: 0.2em;
}
.icon-mid {
  font-size: 3rem;
  color: white;
  margin-right: 15px;
}
.nodejs {
  color: #6cc24a;
}
.text-icons {
  letter-spacing: 0.2em;
  color: white;
}
.h2-white {
  color: white;
  font-family: "Lobster", cursive;
}
